$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;

// global navigation
$gnavBgColor: #ffffff;
$gnavBorderColor: #DFDACC;
$topbarHeight: 40px;
$sidebarWidth: 88px;
$openSidebarBgColor: #004770;
$openSidebarUtilityWidth: 468px;